@layer base {
  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-primary font-bold tracking-wider;
  }

  p {
    @apply font-secondary tracking-wider;
  }

  a,
  li,
  button {
    @apply font-primary font-medium tracking-wider text-gray-700;
  }

  html {
    @apply h-full;
  }

  body {
    @apply h-full;
  }

  div#__next {
    @apply h-full;
  }

  main {
    @apply h-full;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .highlightLine {
    color: #f3f4f6;
    position: relative;
    /* background-size: 100% 3px; */
    /* background-repeat: repeat-x; */
    /* background-position: 0 100%; */
    background-image: linear-gradient(to right, #6366f1, #a855f7);
  }

  /* .highlight {
    display: inline;
    background: #a855f7;
    color: #fff;
    padding: 2px;
    word-wrap: break-word;
  }
  .highlight-shadow {
    position: relative;
    left: 10px;
    padding-left: 0;
    
    box-shadow: 10px 0 0 #a855f7, -10px 0 0 #a855f7;
  } */

  /* p {
    margin: 0 auto;
    line-height: 1.5em;
  }

  span {
    background-image: linear-gradient(to right, #6366f1, #a855f7);
    background-repeat: repeat-x;
    background-position: 0 100%;
    background-size: 100% 3px;
    transform: skew(-12deg) translateX(-50%);
  } */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
